<h1>Welcome, Lets get lov'n </h1>
<div class="userPic">
  <img src="http://placehold.it/350x350">
</div>
<br>
<br>
<br>
<h1>Requested Lovers</h1>
   <table class="table" ng-if="lovers.length">
     <thead>
       <th>Name</th>
       <th>Pic</th>
       <th>Delete</th>
     </thead>
     <tbody>
       <tr ng-repeat="stock in stocks">
         <!-- <td>{{stock.data.Symbol}}</td>
         <td>{{stock.data.Name}}</td> -->
         <td> <button class= 'btn btn-danger' ng-click="deleteName()">Delete</button></td>
       </tr>
     </tbody>
   </table>


   <h1>Requesting For Some Love </h1>
      <table class="table" ng-if="matches.length">
        <thead>
          <th>Name</th>
          <th>Pic</th>
          <th>yes</th>
        </thead>
        <tbody>
          <tr ng-repeat="stock in stocks">
            <!-- <td>{{stock.data.Symbol}}</td>
            <td>{{stock.data.Name}}</td> -->
            <td><button class= 'btn btn-success' ng-click="yesLover()">Love</button></td>
            <td> <button class= 'btn btn-danger' ng-click="noLover()">Rejection</button></td>
          </tr>
        </tbody>
      </table>