<div ng-controller="sexySearchCtrl">
<h3>Somone To Love</h3>

<label for="email">Find a Sexy Named Lover  </label>

<table class="table">
     <thead>
      <th>Email</th>
       <th>Name</th>
       <th>Pic</th>
       <th>Delete</th>
       <th>Add</th>
     </thead>
     <tbody>
       <tr ng-repeat="user in users.data">
         <td>{{user.email}}</td>
         <td>{{user.username}}</td>
         <td><img src='{{user.image}}'></td>
         <td> <button class= 'btn btn-succes"s' ng-click="AddName()">Add for Lov'n</button></td>
         <td> <button class= 'btn btn-danger' ng-click="deleteName()">Delete</button></td>
       </tr>
     </tbody>
   </table>
